:root {
    --parimary-color: #fa453d !important;
    --secondary-color: #253491 !important;
    --thirdary-color: #34763a !important;
    --text-white: #fff !important;
}

#header.navbar-inverse .navbar-inner,
.blueclr,
.table th {
    background: var(--parimary-color) !important;
}

#sidebar > ul > li > a:hover,
#sidebar > ul > li:hover > a,
.headd,
.btn-danger,
#sidebar > ul > li > ul.sub > li.active > a,
#sidebar > ul > li > ul.sub > li > a:hover,
#header .navbar-inner .nav .dropdown-toggle:hover,
.navbar-inner .nav .dropdown.open .dropdown-toggle {
    background: #fa453d;
}

.small-box.bg-greena,
.gradientclr {
    background-image: var(--secondary-color) !important;
}

.small-box.bg-sds,
.small-box.bg-aquas4,
.small-box.bg-aqua,
.widget-title {
    background: var(--secondary-color) !important;
}

.table-advance thead tr th {
    color: var(--text-white) !important;
}

#header .navbar-inner .nav .dropdown-toggle:hover, .navbar-inner .nav .dropdown.open .dropdown-toggle, .navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
    background-color: var(--thirdary-color) !important;
}


.headd {
    background: #253491 !important;
}

.small-box.bg-sds, .small-box.bg-aquas4, .small-box.bg-aqua, .widget-title,
.small-box.bg-greena, .gradientclr {
    background: #fa453d !important;
}

.gradientclr {
    background: #253491 !important;
}

#header.navbar-inverse .navbar-inner, .blueclr, .table th {
    background: #253491 !important;
}

#header.navbar-inverse .navbar-inner, .blueclr, .table th {
    background: #fa453d !important;
}

.table th {
    background: #253491 !important;
}
#sidebar > ul > li > a:hover,
#sidebar > ul > li > ul.sub > li > a:hover,
#header .navbar-inner .nav .dropdown-toggle:hover {
    background: #fa453d !important;
}

#header.navbar-inverse .navbar-inner, .blueclr, .table th {
    background: #253491 !important;
}
#header.navbar-inverse .navbar-inner {
    background: #253491 !important;
}
