<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <appSettings>
        <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    </appSettings>
    <system.web>
    <compilation debug="true" targetFramework="4.7.2">
        <assemblies>
            <add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
            <add assembly="System.Numerics, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
            <add assembly="System.ComponentModel.Composition, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
            <add assembly="System.Net.Http, Version=4.2.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.7.2" maxRequestLength="51200" />
        <pages>
            <controls>

                <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
            </controls>
        </pages>
        <customErrors mode="Off" />
  </system.web>
    <connectionStrings>
        <!--<add name="constr" connectionString="Data Source=5.9.143.153,1533;Initial Catalog=Kosil;Integrated Security=false;UID=usrkosil;PWD=EzJ7sbSrh3kPKA6q;Pooling=False;Connect Timeout=200000000" providerName="System.Data.SqlClient" />
		<add name="constr1" connectionString="Data Source=5.9.143.153,1533;Initial Catalog=KosilSelect;Integrated Security=false;UID=usrkosil;PWD=EzJ7sbSrh3kPKA6q;Pooling=False;Connect Timeout=200000000" providerName="System.Data.SqlClient" />-->
        <add name="constr" connectionString="Data Source=103.190.54.132,1533;Initial Catalog=capston;Integrated Security=false;UID=capston;PWD=Sanj@Cap#5tnsk;Pooling=False;Connect Timeout=200000000" providerName="System.Data.SqlClient" />
        <add name="constr1" connectionString="Data Source=103.190.54.132,1533;Initial Catalog=capstonSelect;Integrated Security=false;UID=capston;PWD=Sanj@Cap#5tnsk;Pooling=False;Connect Timeout=200000000" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <security>
            <requestFiltering>
                <!-- Set IIS upload limit to 50 MB -->
                <requestLimits maxAllowedContentLength="52428800" />
            </requestFiltering>
        </security>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="Default.aspx" />
            </files>
        </defaultDocument>
        <httpErrors errorMode="DetailedLocalOnly" existingResponse="Auto" />
    </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
