body {
    color: #585353;
    background: linear-gradient(to bottom, rgb(29, 135, 179) 0%, rgb(9, 99, 146) 100%) !important;
}
#main-content {
    box-shadow: -1px 0 8px rgba(138, 146, 156, 0.25098039215686274);
    -moz-box-shadow: -1px 0 8px rgba(138, 146, 156, 0.25098039215686274);
    -webkit-box-shadow:-1px 0 8px rgba(138, 146, 156, 0.25098039215686274);
}
a, a:hover {

    color: #999;
}
ul.faq-list li a:hover, ul.faq-list li a.active{
    background: #19488e;
}
.navbar-inverse .brand, .navbar-inverse .nav>li>a {
    color: #000000;
    padding-top: 12px;
}
#header.navbar-inverse .navbar-inner {
  
box-shadow: 1px 3px 7px rgba(0, 0, 0, 0.34);
  
/*background: linear-gradient(to right, #8b46bf, #057aac) !important;*/
  
background: #880b2f;
}

#header .navbar-inner .nav .dropdown-toggle:hover, .navbar-inner .nav .dropdown.open .dropdown-toggle {
  
background-color:#a2d136 !important;
}
.navbar-inverse .nav>
  
li>a:focus, .navbar-inverse .nav>li>a:hover {
    color: #190f0f;
  
background-color: transparent;
}
#header.navbar-inverse .divider-vertical {
  
border-left-color: #000F27;
  
border-right-color: #002864;
}



.small-box
  
p {
    font-size: 17px;
  
font-weight:400;
  
font-family: 'Exo 2', sans-serif;
}


#sidebar >
  
ul > li > a {/* font-family: 'Exo 2', sans-serif; */color: #fcfff4!important;
  
border-bottom: 1px solid rgb(4, 28, 39)!IMPORTANT;
  
border-top: 1px solid rgba(252, 255, 244, 0.49)!IMPORTANT;
  
text-transform: none;
  
font-size: 16px!important;
  
margin-top: 0px;
  
PADDING: 1px 9px 1px 11px!important;
  
FONT-WEIGHT: 400 !important;
  
border-radius: 0px !IMPORTANT;
  
margin: 0px 0px;
  
/* text-shadow: 1px 1px 1px #5a5a5a !important; */}

#sidebar >
  
ul > li a i {
    color: #fff !important;
}

#sidebar >
  
ul > li >a:hover, #sidebar > ul > li:hover>a {
    color: #fff !important;
  
background:#d83030;


}

/*#sidebar > ul > li.active > a {
    background: radial-gradient(circle 248px at center, #96e630 0%, #7dbb09 47%, #7dbc00 100%) !important;
    padding: 0px 23px !important;
    border-radius: 50px !important;
    margin: 10px;
}*/
#sidebar >
  
ul > li > ul.sub > li > a {;}
#sidebar >
  
ul > li > ul.sub > li > a:hover , #sidebar > ul > li > ul.sub > li.active a{
    color: #ffffff;
}

.dropdown-menu
  
li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover {
    background-color: #EEEEEE;
  
background-image: none;
  
color: #333333;
  
filter: none;
  
text-decoration: none;
}
.dropdown-menu>
  
li>a {
    display: block;
  
padding: 8px 9px;
  
clear: both;
  
font-weight: normal;
  
line-height: 17px;
  
color: #333;
  
white-space: nowrap;
  
margin: 0px;
  
font-family: 'Catamaran', sans-serif!important;
}

/*#sidebar > ul > li > ul.sub > li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.18);
    border-top: 1px solid #eaeaea;
}*/

#sidebar >
  
ul > li > ul.sub > li:last-child {
    border-bottom:none;
}

.chats
  
li.out .name {
    color: #b14c4c;
}

.chats
  
li.in .message {
    border-left: 2px solid #19488e;
}

.chats
  
li.in .message .arrow {
    border-right: 8px solid #19488e;
}

.chats
  
li.out .message .arrow {
    border-left: 8px solid #b14c4c;
}

.chats
  
li.out .message {
    border-right: 2px solid #b14c4c;
}

/* Landscape phone to portrait tablet */
@media (
  
max-width:979px) {
    #sidebar {
        background-color:#166e92 !important;
  
-webkit-border-radius: 4px !important;
  
-moz-border-radius: 4px !important;
  
border-radius: 4px !important;
    }

    #sidebar > ul > li > a {
  
border-bottom: 0px solid #1f2d3b !important;
    }

    #sidebar > ul > li.active > a, #sidebar > ul > li:hover > a, #sidebar > ul > li > a:hover {
  
border-bottom: 0px solid #1f2d3b !important;
    }
}

/*----*/

/*lock*/

.lock-avatar-row, .lock-form-row .tarquoise  {
  
background: #19488e;
}


.lock-identity
  
span {
    color:#19488e;
}

.lock-form-row .tarquoise {
  
border:1px solid #19488e !important;
}

/*coming soon*/

.coming-soon .input-append .submit-btn {
  
background: #19488e;
  
color: #102D58;
}

.twt-color , .twt-color:hover, .blog .date .day{
  
color: #19488e !important;
}
  
ul.social-link li a:hover, .blog .date .month {
    background: #19488e;
}


/*blog*/

.blog .date {
  
border: 1px solid #19488e;
}

.blog
  
ul li a:hover, .blog-side-bar ul li a:hover { color: #19488e;
  
text-decoration: none;}

.blog .btn:hover {
  
background: #19488e;
}

.blog-side-bar
  
ul.tag li a, .inbox-compose-btn button:hover, .btn.colored, .inbox .inbox-header {
    background: #19488e;
}

/*invoice-list*/
#sidebar >
  
ul > li a i {
    color: #deeac1 !important;
}

#sidebar >
  
ul > li a i {
         color: #eaeaea;
  
padding-right: 0;
  
font-size: 17px;
}

.invoice-list
  
h5 {
    color: #19488e;
}

/*about us*/

.about-us
  
h4, .team-member h3, .team-member ul li a:hover, .contact-us h4, .news h1 {
    color: #19488e;
}

/*form */
  
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
    border:1px solid #19488e;
}