
/* body styles */
body {
    color: #000;

    padding: 0px !important;
    margin: 0px !important;
    font-size:13px;
        font-family: 'Hind', sans-serif!IMPORTANT;
}  



a, a:hover {
color: #000;
}


a:hover, a:focus {
    color: #005580;
    text-decoration: none !important;
}




@media (max-width: 360px) {
    .logores {
 margin-top: -6px !important;
    padding:3px 7px !important;
    width: 55% !important;
    }
 
}



 